* {
    font-size: 20px;
    box-sizing: border-box;
}

body {
    font-family: 'Baloo 2', cursive;
    font-size: 16px;
    font-weight: 300;
    background-color: #ffffff;
    color: white;
}

h2 {
    border-bottom: #dcdcdc 8px solid;
    border-right: #8e8e8e 15px solid;
    padding-bottom: 5px;
    margin-bottom: 40px;
    width: fit-content;
}


ul {
    list-style-type: none;
}

a {
    color: white;
}

a:hover {
    color: white;
}

.logo {
    font-size: 1.75rem;
    font-weight: 500;
    position: relative;
}

.max-width {
    max-width: 1300px;
    padding-left: 40px;
    padding-right: 40px;
}

.cover-text {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.cover-text h1 {
    font-size: 4rem;
    font-weight: 400;
}

.cover-text p {
    font-size: 1.5rem;
    font-weight: 300;
    color: #ababab;
}

.purple {
    color: #4b6cc1!important;
}

.contact-btn {
    background-color: #4b6cc1;
    color: white;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
    border: none;
}

.cover-text button {
    background-color: #4b6cc1;
    background: linear-gradient(to right,#4b6cc1 30%, #4564b100 );
    color: white;
    font-weight: 400;
    font-size: 1.5rem;
    width: fit-content!important;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
}

hr {
    background-color: #0d0d0d;
    height: 3px;
}

a:hover {
    text-decoration: none;
}

.flex-row {
    display: flex;
    flex-flow: row;
}

.flex-col {
    display: flex;
    flex-flow: column;
}

.overflow-hidden {
    overflow-x: hidden;
}

.top-nav {
    background-color: #191a1d!important;
    padding-top: 60px;
    
}

.top-nav ul {
    margin: auto;
}

.top-nav .w-75 {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    color: #ababab;
}

.top-nav .w-75 a {
    color: #ababab;
}

.jumbotron {
    background-color: #191a1d;
    min-height: 90vh;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 89%);
}

.cover-img {
    height: 480px;
    margin-top: 0!important;
    background-color: #121316;
    text-align: center;
    width: 400px;
}

.cover-img img {
    width: calc(100% - 80px);
    height: 100%;
    object-fit: cover;
    position: relative;
    top: 40px;
}



.project .text {
    width: 34%;
    color: #5e5e5e;
    font-size: 1.625rem;
    font-weight: 300;
}

h2 {
    font-size: 3.25rem;
    font-weight: 400;
    color: black;
    padding-right: 10px;
}


.project .text .list{
    color: #919191;
    padding: 0;
    padding-top: 30px;
}


.project .text .list li {
    font-size: 1.5rem;
    font-weight: 600;
}

.project .text .list svg {
    min-width: 80px;
}


.project .pic {
    width: 60%;
    height: 650px;
    background-color: #ececec;
    text-align: center;
    border-radius: 3px;
}

.project .pic img {
    position: relative;
    width: calc(100% - 100px);
    height: 100%;
    object-fit: cover;
    object-position: top;
    top: 50px;
    border-radius: 3px;
    box-shadow: 5px 5px 10px rgba(156, 156, 156, .8);
}

.sec {
    max-height: 650px;
    margin: auto;
}

.border {
    position: absolute;
    width: 70%;
    bottom: 3px;
    left: 0;
    height: 7px;
    border: 1px#4b6cc1 solid!important;
    border-radius: 8px;
    background-color: #4b6cc1;
}

.border2 {
    position: absolute;
    width: 0px;
    bottom: 3px;
    left: 0;
    height: 7px;
    border: 1px#4b6cc1 solid!important;
    border-radius: 8px;
    background-color: #4b6cc1;
}

.borderT {
    width: 140px;
    height: 7px;
    border: 1px#4b6cc1 solid!important;
    border-radius: 8px;
    background-color: #4b6cc1;
    margin-bottom: 30px;
    margin-top: 30px;
}

.borderB {
    width: 140px;
    height: 7px;
    border: 1px#4b6cc1 solid!important;
    border-radius: 8px;
    background-color: #4b6cc1;
    margin-top: 30px;
    margin-bottom: 80px;
}

.has-border:hover > :last-child{
    animation: border .8s forwards;
}

.has-border2:hover > :last-child{
    animation: border2 .8s forwards;
}

.border:not(:hover){
    animation: borderback .5s forwards;
}

.border2:not(:hover){
    animation: borderback2 .5s forwards;
}

.zooms {
    transition: .5s;
}

.zooms:hover {
    transform: scale(1.1);
}


@keyframes border {
    25% {
        width: 120%;
    }

    50% {
        width: 90%;
    }

    75% {
        width: 110%;
    }

    100% {
        width: 100%;
    }
}

@keyframes border2 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
        width: 120%;
    }

    50% {
        width: 90%;
    }

    75% {
        width: 110%;
    }

    100% {
        
        width: 100%;
    }
}

@keyframes borderback {
    0% {
        width: 100%;
    }


    100% {
        width: 70%;
    }
}

@keyframes borderback2 {
    0% {
        width: 100%;
        opacity: 1;
    }


    100% {
        width: 0;
        opacity: 0;
    }
}


.rec {
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
    height: 100vh;
    background: #ececec;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rec .text q{
    max-width: 850px;
    font-size: 1.5rem;
    text-align: center;
    color: black;
}

.rec .img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.rec .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rec .name {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #484848;
}

.rec .text {
    font-size: 1.25rem;
    font-weight: 300;
    color: #1d1d1d;
}

.services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    margin-bottom: 90px!important;
}

.service {
    width: 50%;
    padding: 40px;
    border-radius: 3px;
    border-top: 6px solid #4b6cc1;
    background-color: #ececec;
    justify-content: space-between;
    text-align: center;
}

.service svg {
    font-size: 2.25rem;
    font-weight: 400;
    color: rgb(80, 80, 80);
    margin-top: 25px;
}

.service .borderB {
    width: 45px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 30px;
}

.service h3 {
    font-size: 2.25rem;
    font-weight: 600;
    color: black;
}

.service h6 {
    font-size: 1.75rem;
    font-weight: 300;
    color: black;
}

.service p {
    font-size: 1.25rem;
    font-weight: 300;
    color: rgb(80, 80, 80);
}

.sec-head {
    color: #9a9a9a;
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom: 5px solid #ececec;
    padding: 10px;
    margin-bottom: 50px;
}






.cards {
    display: flex;
    flex-flow: row;
    padding-top: 30px;
    border-radius: 8px;
}

.cards img {
    max-width: 170px;
    max-height: 170px;
    border-radius: 50%;
    border: 5px solid #202020;  
}

.cards .description {
    
    border-radius: 8px;
}

.cards .description div {
    min-width: 150px;
}

#parent {
    white-space: nowrap;
    overflow: hidden; 
    position: relative;
  }
  
  #border {
    border-bottom: solid 3px rgba(0,255,0,.75);
    position: absolute;
    right: -7px;
    width: 20px;
  }
  
  /* Animation */
  #parent {
    animation: animated-text 3s steps(30,end) 1s 1 normal both
  }
  

  
  /* text animation */
  
  @keyframes animated-text{
    from{width: 0;}
    to{width: 100%;}
  }
  

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -1px) rotate(-1deg); }
    20% { transform: translate(-1px, 0px) rotate(1deg); }
    30% { transform: translate(1px, 1px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 1px) rotate(-1deg); }
    60% { transform: translate(-2px, 1px) rotate(0deg); }
    70% { transform: translate(2px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 1px) rotate(0deg); }
    100% { transform: translate(1px, -1px) rotate(-1deg); }
  }

  @keyframes shake2 {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    60% { transform: translate(-1px, -1px) rotate(-1deg); }
    30% { transform: translate(-2px, 0px) rotate(1deg); }
    40% { transform: translate(2px, 1px) rotate(0deg); }
    20% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 1px) rotate(-1deg); }
    10% { transform: translate(-2px, 1px) rotate(0deg); }
    90% { transform: translate(2px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    70% { transform: translate(1px, 1px) rotate(0deg); }
    100% { transform: translate(1px, -1px) rotate(-1deg); }
  }

.appear {
    margin-top: 40px;
    margin-bottom: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 30px;
    max-width: 700px;
    margin: auto;
    align-items: center;
    justify-items: center;
}

.grid img.one {
    max-height: 140px;
    max-width: 140px;
    animation: shake2  2s; 
    animation-iteration-count: infinite;
    animation-direction: alternate; 
}

.grid img.two {
    max-height: 140px;
    max-width: 140px;
    animation: shake  2s; 
    animation-iteration-count: infinite;
    animation-direction: alternate; 
}

.grid div {
    width: 155px;
    height: 155px;
    display: flex;
    align-items: center;
    justify-content: center ;
    padding: 10px;
    border-radius: 8px;
}

.appear .container {
    position: relative;
}

.experience {
    color: #121212;
}

.experience h2 {
    z-index: 1000;
    position: absolute;
    top: 45px;
    left: 10px;
    border-bottom: none;
}

.appear span {
    position: relative;
    z-index: 100;
    opacity: .8;
}

.appear span img {
    max-width: 250px;
    position: relative;
    left: -25px;
    z-index: 100;
}

.experience {
    padding-top: 20px;
    padding-bottom: 60px;
}

.experience h2 {
    color: #463f9b;
}

.experience h3 {
    color: #6762a6;
}

.projects {
    color: white;
}

.contact {
    color: white;
}

.alert-dark {
    background-color: white!important;
    margin: 10px;
}

.recommend {
    padding-top: 0;
    padding-bottom: 70px;
}

.card {
    border: #272727 1px solid;
    border-radius: 8px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.card img {
    max-height: 250px;
    object-fit: cover;
    border-radius: 6px;
    transform: translateZ(30px)
}

.card1 {
    position: relative;
    top: 60px;
    left: 20px;
}

.card2 {
    z-index: 2;
}

.card3 {
    position: relative;
    top: 60px;
    right: 20px;
    z-index: 0;
}

.card-body {
    padding: 0;
    margin: 0;
    color: white;
    position: relative;
    height: 360px;
    background-color: #121212;
}

.bg {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
}

.abs {
    position: absolute;
    top: 0;
    transform: translateZ(30px)
}

.rad {
    padding: 60px;    
}

.rad img {
    max-width: 100%;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    /* border: white solid 2px; */
}






@media screen and (max-width:768px) {

    * {
        font-size: 17px;
    }

    .jumbotron {
        height: 400px;
    }

    .jumbotron .container {
        top: 10%;
    }

    .jumbotron h1 {
        font-size: 35px;
    }

    .jumbotron h3 {
        font-size: 20px;
        padding-bottom: 5px;
    }

    

    .grid {
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
        grid-gap: 15px;
        max-width: 700px;
        margin: auto;
        align-items: center;
        justify-items: center;
    }
    
    .grid img.one {
        max-height: 70px;
        max-width: 70px;
        animation: shake2  2s; 
        animation-iteration-count: infinite;
        animation-direction: alternate; 
    }
    
    .grid img.two {
        max-height: 70px;
        max-width: 70px;
        animation: shake  2s; 
        animation-iteration-count: infinite;
        animation-direction: alternate; 
    }
    
    .grid div {
        width: 75px;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: center ;
        padding: 10px;
        border-radius: 8px;
    }

    .contact .container {
        flex-direction: column!important;
    }

    .contact div, .contact form {
        width: 100%!important;
    }

    .rad {
        padding: 20px;
    }

    footer.flex-row {
        padding: 20px!important;
    }

    footer div h3 {
        text-align: center;
        margin-bottom: 30px;
        font-size: 15px!important;
    }

    .recommend .max-width1 .card {
        top: 0!important;
        left: auto;
        right: auto;
        margin: auto;
        width: 320px!important;
        margin-bottom: 80px;
        height: 560px;
    }

    .recommend .max-width1 .card .card-body {
        height: 280px;
    }
}


@media screen and (max-width:1200px) {

    .recommend .max-width1 {
        flex-direction: column!important;
    }

    .recommend .max-width1 .card {
        width: 320px!important;
        margin-bottom: 40px;
        
    }

    .recommend .max-width1 .card .abs {
        width: 320px!important;
        margin-bottom: 40px;
        padding-top: 8px!important;
    }

    .recommend .max-width1 .card1 {
        left: auto;
        align-self: flex-start;
    }

    .recommend .max-width1 .card2 {
        top: -20px;
        align-self: center;
        z-index: 1;
    }

    .recommend .max-width1 .card3 {
        top: -100px;
        right: auto;
        align-self: flex-end;
        z-index: 2;
    }

    .recommend .max-width1 .card h4, .recommend .max-width1 .card h6 {
        margin-bottom: 5px;
    }
}















/* Bricks */



.container-bricks {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    margin: 0;
    padding: 0;
    left: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    animation: dis 1s 8.9s forwards;
}

.brick {
    margin: 0;
    width: 10%;
    height: 20vh;
    background-color: rgb(44, 44, 44);
    animation: dis 1s 8.9s forwards;
    transform-origin: 1px;
    transform:rotateY(-185deg);
    filter: blur(1px);
    opacity: .6;
    background-color: rgb(245, 245, 245);
}

.brickR {
    position: relative;
    left: -10%;
    transform: rotateY(0);
}

.brickD {
    position: relative;
    left: -10%;
    transform-origin: top;
    transform: rotateX(0);
}

.brickU{
    position: relative;
    left: -10%;
    transform-origin: bottom;
    transform: rotateX(0);
}

@keyframes foldRight {
    0% {
        transform:rotateY(-180deg);
        
    }

    50% {
        transform: skewY(-10deg);
    }
    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform:rotateY(0deg);
        transform: skewY(0deg);
    }
}
@keyframes foldRighth {
    0% {
        transform:rotateY(-180deg);
    }

    50% {
        transform: skewY(10deg);
    }
    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform:rotateY(0deg);
        transform: skewY(0deg);
    }
}




@keyframes foldLeft {
    0% {
        transform:rotateY(360deg);
    }

    50% {
        transform: skewY(-5deg);
    }
    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform:rotateY(180deg);
        
    }
}


@keyframes foldUp {
    0% {
        transform:rotateX(1deg);
    }

    50% {

        transform: skewY(5deg);
    }
    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform:rotateX(180deg);
        
    }
}


@keyframes foldDown {
    0% {
        transform:rotateX(1deg);
    }

    50% {

        transform: skewY(5deg);
    }
    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform:rotateX(180deg);
    }
}

.brick26 {
    transform-origin: 1px;
    animation: shakee 1s 7.9s forwards;
    background-size: cover;
}


@keyframes dis {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display: none;
        z-index: 0;
    }
}
@keyframes shakee {
    0% {
        top: 3px;
        transform: rotateY(3deg);
        transform: rotate(5deg);
    }

    8% {
        top: -3px;
        transform: rotateY(10deg);
        transform: rotate(2deg);
    }

    15% {
        top: 4px;
        transform: rotateY(-5deg);transform: rotate(5deg);
    }
    20% {
        top: -3px;
        transform: rotateY(3deg);transform: rotate(-2deg);
    }
    28% {
        top: 1px;
        transform: rotateY(10deg);transform: rotate(3deg);
    }
    35% {
        top: 6px;
        transform: rotateY(5deg);transform: rotate(-4deg);
    }
    45% {
        top: 1px;
        transform: rotateY(-30deg);transform: rotate(1deg);
    }
    55% {
        top: -3px;
        transform: rotateY(1deg);transform: rotate(-6deg);
    }
    65% {
        top: 5px;
        transform: rotateY(8deg);transform: rotate(10deg);
    }
    70% {
        top: 5px;
        transform: rotateY(-4deg);transform: rotate(-5deg);
        filter: blur(1px);
    }

    90% {
        filter: blur(20px);
        
    }
    
    92% {
        background-image: url("../imgs/glass-min.png");
        background-color: transparent;
    }

   

    97% {
        /* background-image: url("../imgs/glass.png"); */
        width: 10%;
        height: 20vh;
        position: relative;

    }

    100% {
        transform: rotateY(0deg);transform: rotate(0deg);
        filter: blur(0);
        background-color: transparent;
        background-image: url("glass.png");
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        
    }
}


.brick1 {
    animation: foldRight 1.5s  forwards cubic-bezier(.2,.2,.2,.2);
}

.brick2 {
    animation: foldRight 1s 1.5s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick3 {
    animation: foldRight .75s 2.5s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick4 {
    animation: foldRight .75s 3.25s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick5 {
    animation: foldRight .75s 4s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick11 {
    animation: foldRighth 1.7s .25s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick12 {
    animation: foldRighth 1s 2s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick13 {
    animation: foldRighth .9s 3s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick14 {
    animation: foldRighth .8s 4s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick15 {
    animation: foldRighth .65s 4.75s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick21 {
    animation: foldRighth 1.5s .75s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick22 {
    animation: foldRighth 1.2s 2.75s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick23 {
    animation: foldRighth 1s 4.25s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick24 {
    animation: foldRighth .7s 5.25s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick25 {
    animation: foldRighth .4s 6.05s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick41 {
    animation: foldRighth 2s .2s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick42 {
    animation: foldRighth 1.5s 2.2s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick43 {
    animation: foldRighth 1s 3.7s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick44 {
    animation: foldRighth .75s 4.7s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick45 {
    animation: foldRighth .75s 5.45s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick31 {
    animation: foldRighth 1.1s  forwards cubic-bezier(.2,.2,.2,.2);
}

.brick32 {
    animation: foldRighth 1s 1.1s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick33 {
    animation: foldRighth .8s 2.1s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick34 {
    animation: foldRighth .8s 2.9s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick35 {
    animation: foldRighth .6s 3.7s forwards cubic-bezier(.2,.2,.2,.2);
}






.brick10 {
    animation: foldLeft 2s  forwards cubic-bezier(.2,.2,.2,.2);
}

.brick9 {
    animation: foldLeft 1.5s 2s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick8 {
    animation: foldLeft 1s 3.5s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick7 {
    animation: foldLeft .75s 4.5s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick6 {
    animation: foldDown .75s 5.25s forwards cubic-bezier(.2,.2,.2,.2);
}


.brick50 {
    animation: foldLeft 2s  forwards cubic-bezier(.2,.2,.2,.2);
}

.brick49 {
    animation: foldLeft 1.5s 2s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick48 {
    animation: foldLeft 1s 3.5s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick47 {
    animation: foldLeft .75s 4.5s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick46 {
    animation: foldUp .75s 6.5s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick40 {
    animation: foldLeft 2.5s  forwards cubic-bezier(.2,.2,.2,.2);
}

.brick39 {
    animation: foldLeft 1.5s 2.5s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick38 {
    animation: foldLeft .8s 4s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick37 {
    animation: foldLeft .9s 4.8s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick36 {
    animation: foldUp .75s 7s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick30 {
    animation: foldLeft 1s 2.5s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick29 {
    animation: foldLeft 1.5s 3.5s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick28 {
    animation: foldLeft .8s 5s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick27 {
    animation: foldLeft .9s 5.8s forwards cubic-bezier(.2,.2,.2,.2);
}




.brick20 {
    animation: foldLeft 1.5s  forwards cubic-bezier(.2,.2,.2,.2);
}

.brick19 {
    animation: foldLeft 1.2s 1.5s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick18 {
    animation: foldLeft .9s 2.7s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick17 {
    animation: foldLeft .75s 3.6s forwards cubic-bezier(.2,.2,.2,.2);
}

.brick16 {
    animation: foldUp .75s 6s forwards cubic-bezier(.2,.2,.2,.2);
}





@media screen and (max-width:317px) {

    .grid div:last-child {
        display: flex!important;
    }

}

@media screen and (max-width:412px) and (min-width: 317px) {

    .grid div:last-child {
        display: none!important;
    }

    .grid div:nth-child(odd) {
        background-color: #f9d74c!important;
    }

    .grid div:nth-child(even) {
        background-color: #121217!important;
    }

}

@media screen and (min-width:507px) and (max-width:767px) {

    .grid div:last-child {
        display: none;
    }

    .grid div:nth-child(odd) {
        background-color: #f9d74c!important;
    }

    .grid div:nth-child(even) {
        background-color: #121217!important;
    }

}

.p-card {
    position: relative;
    border: 2px solid #22cdb0;
    height: 400px;
    overflow: hidden;
    width: 250px;
    margin-left: 10px;
    margin-right: 10px;
}

.p-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.view-btn {
    color: #22cdb0;
    background: rgba(0, 0, 0, 0.9);
    border: 2px solid #22cdb0;
    position: absolute;
    bottom: 20px;
    left: 0;
    width: calc(100% - 40px);
    margin-left: 20px;
}

.font {
    font-size: 16px!important;
}